* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 32px;
}

p{
    font-size: 16px;
}

img {
    width: auto;
    height: 500px;
}

a {
    text-decoration: none;
    color: maroon;
}

div {
    display: inline-block;
    box-sizing: content-box;    
}

.no-style{
    list-style: none;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.card {
    border: 5px solid darkred;
    width: 300px;
    height: 500px;
    padding: 10px;
    background-color:floralwhite;
    margin: 20px auto;
}

.card-img {
    width: 250px;
    height: auto;
    border: 2px solid darkred;
    display: block;
    margin: 0 auto;
}

.card-title {
    font-size: 24px;
    margin: 10px 0;
}

.card-content {
    margin: 20px 0;
    text-align: justify;
}

.card-link {
    background-color: chocolate;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 18px;
}





